html {
  height: 100%;
}

body {
  background-color: #bdb0ee;
}

button {
  border: 1px solid #000; /*рамочка*/
  padding: 25px 40px;
  color: rgba(0, 0, 0, 0.534);
  font-weight: 900;
  font-size: 30px;
  text-transform: uppercase; /*заглавные буквы*/
  background-color: rgb(219, 197, 156);
  cursor: pointer;
}