/*это тоже таблица стилей, но уже в отдельном файле. CSS обычно переносят в отдельный файл, когда объём написанного CSS-кода превышает 30-40 строк*/

body {
  background-color: #bdb0ee;
}

h1 {
  font-size: 50px;
  text-transform: uppercase;
  font-style: italic;
  color: indigo;
  font-family: William, serif;
  margin-bottom: 0;
}

h2 { /*в роли селектора имя тега*/
  font-size: 32px;
  color: mediumslateblue;
  font-family: Inter, sans-serif;
  margin-top: 10px;
  margin-bottom: 15px;
}

h3 {
  margin: 0;
}

button {
  border: 1px solid #000; /*рамочка*/
  padding: 25px 40px;
  color: rgba(0, 0, 0, 0.534); /*прозрачность от 0 до 1*/
  font-weight: 900;
  font-size: 30px;
  text-transform: uppercase; /*заглавные буквы*/
  background-color: pink; /*rgb(219, 197, 156);*/
  cursor: pointer;
}

button:active::after { /*селектор - "тот, кто проводит отбор" - это отличительный признак элементов, которым правило установит единый стиль*/
  animation: change-bg 6s step-end infinite; /*свойство со значениями*/
  /*по окончании времени (шагов) повторяет всё бесконечно*/
}