html {
  height: 100%;
  margin: 0;
}

body {
  background-color: white;
  color: #323131;
  position: relative; /*не влияет на позиции других элементов на странице, становится относительным от того места, где был*/
  max-width: 540px;
  min-height: 100%;
  margin: 0 auto;
  font-family: 'Suisse';
  box-sizing: border-box; /*padding и border уже включены в wigth и height*/
  padding: 36px;
}

.header {
  display: flex;
  align-items: baseline; /*выравнивание по базовой линии*/
  justify-content: space-between; /*равномерные промежутки между элементами*/
}

.logo {
  font-weight: bold;
  font-size: 24px;
  margin: 0;
}

.button {
  width: 130px;
  height: 40px;
  padding-top: 10px;
  box-sizing: border-box;
  border: 1px solid #323131;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  transition: opacity 0.2s; /*плавное изменение прозрачности в течение 2 секунд*/
}

.button:hover /*при наведении*/ { 
  opacity: 0.5;
}

.image {
  width: 80%;
  display: block;
  margin: 60px auto 50px;
}

.advice {
  font-size: 42px;
  font-weight: bold;
  line-height: 1.1; /*интерлиньяж (межстрочный интервал) текста*/
  margin-bottom: 70px;
}

.footer {
  font-size: 16px;
  margin: 0;
  position: absolute;
  bottom: 36px; /*относительно содержащего блока*/
}